In [1]:
pip install numpy pandas sklearn joblib

Requirement already satisfied: numpy in c:\users\navpreet singh\appdata\local\programs\python\python39\lib\site-packages (1.21.3)
Requirement already satisfied: pandas in c:\users\navpreet singh\appdata\local\programs\python\python39\lib\site-packages (1.3.4)
Requirement already satisfied: sklearn in c:\users\navpreet singh\appdata\local\programs\python\python39\lib\site-packages (0.0)
Requirement already satisfied: joblib in c:\users\navpreet singh\appdata\local\programs\python\python39\lib\site-packages (1.1.0)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\navpreet singh\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\navpreet singh\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2021.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: scikit-learn in c:\users\navpreet singh\appdata\local\programs\python\python39\lib\site-packages (from sklearn) (1.0.1)
Requirement already satisfied: six>=1.5 in c:\users\navpreet singh\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Requirement already satisfied: scipy>=1.1.0 in c:\users\navpreet singh\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn->sklearn) (1.7.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\navpreet singh\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn->sklearn) (3.0.0)

In [4]:
import json
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
import joblib

In [6]:
# Load the dataset

df = pd.read_csv('https://raw.githubusercontent.com/navpreet-ml/datasets-for-start/master/adult/data.csv', skipinitialspace=True)
x_cols = [c for c in df.columns if c != 'income']

#remove income column as it is the target variable, and set it to 'y'
X = df[x_cols]
y = df['income']

df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state = 1234)

In [12]:
#fill NAs
train_mode = dict(X_train.mode().iloc[0])

In [13]:
train_mode

{'age': 31.0,
 'workclass': 'Private',
 'fnlwgt': 121124,
 'education': 'HS-grad',
 'education-num': 9.0,
 'marital-status': 'Married-civ-spouse',
 'occupation': 'Prof-specialty',
 'relationship': 'Husband',
 'race': 'White',
 'sex': 'Male',
 'capital-gain': 0.0,
 'capital-loss': 0.0,
 'hours-per-week': 40.0,
 'native-country': 'United-States'}

In [15]:
X_train = X_train.fillna(train_mode)

{'age': 31.0, 'workclass': 'Private', 'fnlwgt': 121124, 'education': 'HS-grad', 'education-num': 9.0, 'marital-status': 'Married-civ-spouse', 'occupation': 'Prof-specialty', 'relationship': 'Husband', 'race': 'White', 'sex': 'Male', 'capital-gain': 0.0, 'capital-loss': 0.0, 'hours-per-week': 40.0, 'native-country': 'United-States'}

In [16]:
#convert categories to encoding

encoders = {}

for column in ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country']:
    categorical_convert = LabelEncoder()
    X_train[column] = categorical_convert.fit_transform(X_train[column])
    encoders[column] = categorical_convert

In [17]:
X_train.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
29700,37,3,34146,11,9,2,2,0,4,1,0,0,68,37
1529,37,3,26898,11,9,0,3,4,4,0,0,0,12,37
27477,26,3,190762,15,10,2,11,0,4,1,0,0,18,37
31950,35,3,189092,9,13,2,3,0,4,1,0,0,40,37
4732,23,3,260019,5,4,4,4,4,3,1,0,0,36,24

In [21]:
train_mode = dict(X_train.mode().iloc[0])

In [22]:
train_mode

{'age': 31.0,
 'workclass': 3.0,
 'fnlwgt': 121124.0,
 'education': 11.0,
 'education-num': 9.0,
 'marital-status': 2.0,
 'occupation': 9.0,
 'relationship': 0.0,
 'race': 4.0,
 'sex': 1.0,
 'capital-gain': 0.0,
 'capital-loss': 0.0,
 'hours-per-week': 40.0,
 'native-country': 37.0}

In [18]:
rf = RandomForestClassifier(n_estimators = 100)
rf = rf.fit(X_train, y_train)

In [20]:
et = ExtraTreesClassifier(n_estimators = 100)
et = et.fit(X_train, y_train)

In [24]:
joblib.dump(train_mode, "./train_mode.joblib", compress = True)
joblib.dump(encoders, "./encoders.joblib", compress = True)
joblib.dump(rf, "./random_forest.joblib", compress = True)
joblib.dump(et, "./extra_trees.joblib", compress = True)

['./extra_trees.joblib']